@model List<cordovaBuild.Data.Model.Build>
@{
    Layout = null;
}

<table class="table no-margin">
    <thead>
        <tr>
            <th>Output</th>
            <th>Build Log</th>
            <th>Status</th>
            <th>Date Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(n => n.BuildDateTime).Take(5)) { 
            <tr>
                <td>@if (item.Status == "Completed") {
                        @Html.ActionLink(item.OutputZipFile, "Download", "Project", new { projectId = item.ProjectId, filename = item.OutputZipFile, buildType = item.BuildType }, null )
                    }
                </td>
                <td>@if (item.Status == "Completed") {
                        @Html.ActionLink(item.OutputZipFile, "Download", "Project", new { projectId = item.ProjectId, filename = item.BuildFileLog, buildType = item.BuildType }, null)
                    }
                </td>
                <td>@item.Status</td>
                <td>@item.BuildDateTime</td>
            </tr>
        }
    </tbody>
</table>

