@model List<cordovaBuild.Data.Model.Build>
@{
    Layout = null;
}

<table class="table no-margin">
    <thead>
        <tr>
            <th>Output</th>
            <th>Build Log</th>
            <th>Status</th>
            <th>Date Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) { 
            <tr>
                <td>@item.OutputZipFile</td>
                <td>@item.BuildFileLog</td>
                <td>@item.Status</td>
                <td>@item.BuildDateTime</td>
            </tr>
        }
    </tbody>
</table>

